# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [159]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [160]:
# File to Load (Remember to change these)
city_data_to_load = ("Resources/city_data.csv")
ride_data_to_load = ("Resources/ride_data.csv")

In [161]:
# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [162]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [163]:
#Create the Urban city DataFrame
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [164]:
#  1. Get the total rides for each city type
# Get the number of rides for urban cities.
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"].sum()
# Create the suburban and rural ride count.
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"].sum()
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"].sum()

In [165]:
# 2. Get the total drivers for each city type
# Get the average number of drivers for each urban city.
urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"].sum()
# Get the average number of drivers for each city for the suburban and rural cities.
suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"].sum()
rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"].sum()

In [166]:
#  3. Get the total amount of fares for each city type
# Get the fares for the urban cities.
urban_fares = urban_cities_df.groupby(["city"]).sum()["fare"].sum()
suburban_fares = suburban_cities_df.groupby(["city"]).sum()["fare"].sum()
rural_fares = rural_cities_df.groupby(["city"]).sum()["fare"].sum()

In [167]:
#  4. Get the average fare per ride for each city type. 
# The average dare per ride for urban city, suburban & rural city
avg_fare_per_ride_urban_city = urban_fares / float (urban_ride_count)
avg_fare_per_ride_suburban_city = suburban_fares / float (suburban_ride_count) 
avg_fare_per_ride_rural_city = rural_fares / float (rural_ride_count)

In [199]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver_urban_city = urban_fares / float (urban_driver_count)
avg_fare_per_driver_suburban_city = suburban_fares / float (suburban_driver_count)
avg_fare_per_driver_rural_city = rural_fares / float (rural_driver_count)

In [200]:
#  6. Create a PyBer summary DataFrame.

type_of_city = pyber_data_df.set_index(["type"])

pyber_summary_df =pd.DataFrame({"Total Rides": [rural_ride_count, suburban_ride_count, urban_ride_count], 
                                "Total Drivers": [rural_driver_count, suburban_driver_count, urban_driver_count],
                                "Total Fares": [rural_fares, suburban_fares, urban_fares],
                                "Average Fare per Ride": [avg_fare_per_ride_rural_city, avg_fare_per_ride_suburban_city, avg_fare_per_ride_urban_city], 
                                "Average Fare per Driver":[avg_fare_per_driver_rural_city, avg_fare_per_driver_suburban_city, avg_fare_per_driver_urban_city]}) 
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,125,78.0,4327.93,34.623440,55.486282
1,625,490.0,19356.33,30.970128,39.502714
2,1625,2405.0,39854.38,24.525772,16.571468

In [201]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [203]:
#  8. Format the columns.
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,.1f}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,125,78.0,$4327.93,$34.62,$55.49
1,625,490.0,$19356.33,$30.97,$39.50
2,1625,"2,405.0",$39854.38,$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [204]:
# 1. Read the merged DataFrame
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [173]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [174]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [175]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [176]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [177]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [178]:
# 7. Check that the datatype for the index is datetime using df.info()

In [179]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [180]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')